[Unit]
Description=CPCBF Autonomous Benchmark
After=multi-user.target
Wants=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 __SCRIPT_DIR__/auto_bench.py
ExecStopPost=/bin/systemctl start NetworkManager
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
